code {
    font-size: smaller;
    border-radius: 4px;
    color: #555;

    font-family: monospace;
    background-color: #eee;
    padding: 0px 2px;

    border: 1px solid #ddd;
}
.code {
    background-color: #000;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 10px;
}
.code pre {
    font-family: monospace;
}
.code pre span {
    display: inline;
}

.code pre span:nth-child(3) {
    color: #ccc;
}
.code .btn {
    cursor: pointer;
}
.code .snippet {
    color: #000;
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -1;
}
