/* ===== colors: https://galactic.ink/sphere/# ===== */
.c1 { color: #FF6864; }
.c2 { color: #D4F4C0; }
.c3 { color: #1E9BCB; }

.bg-1 { background-color: #fafbfd; }
.bg-2 { background-color: #f8f9fd; }
.bg-3 { background-color: #f5f7fc; }
.bg-4 { background-color: #f1f3fb; }
.bg-5 { background-color: #eef1fa; }

.c10 { color: #737D9E; }
.c11 { color: #EDF1FF; }
.c12 { color: #C3CCEB; }
.c13 { color: #9E8F64; }
.c14 { color: #EBE0C3; }


/*
    https://www.color-hex.com/color/e8ecf9
*/
